.portfolio-carousel__control {
  background: $almost-black;
  bottom: 0;
  color: white;
  padding: 20px 25px;
  position: absolute;
  transition: .5s ease;
  z-index: 100;
  &:hover, &:focus {
    background: lighten($almost-black, 5%);
    color: lighten($dark-text, 5%);
    text-decoration: none;
  }
}

.portfolio-carousel__control--prev {
  border-bottom: 1px solid white;
  bottom: 60px;
  right: 0;
}

.portfolio-carousel__control--next {
  right: 0;
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
      background: none;
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
  width: 100%;
  background: none;
}

.carousel-inner {
  background: $light-grey;
}
