/*---------- Contact Form ----------*/

.contact__blurb {
  padding: 10px 0 50px;
}

.btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=1);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1 !important;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: none;
}

.thankyou-header {
  font-family: 'Vollkorn', serif;
  color: $pink;
  text-align: center;
  font-size: 46px;
}

.thankyou-lead {
  font-family: 'Titillium Web', sans-serif;
  color: $brown;
  font-size: 18px;
  margin-top: 25px;
}

.thankyou-parent {
  height: 85vh;
  margin-top: -25px;
}

#contact-form {
  margin-bottom: 100px;
}

label {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
}
