/*---------- Footer ----------*/
footer {
  background: white;
  border-top: 1px solid $grey;
  position: relative;
  padding: 50px 50px 20px;
  @media only screen and (max-width: $screen-sm-max) {
    text-align: center;
  }
  a {
    color: $charcoal;
    display: block;
    transition: 0.5s ease;
    &:hover {
      color: $brown;
      text-decoration: none;
    }
  }
}

.footer-link {
  float: right;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
  margin-left: 50px;
  @media only screen and (max-width: $screen-sm-max) {
    float: none;
    text-align: center;
    margin: 25px 0;
  }
}

.footer-social {
  display: inline-block;
  float: right;
  @media only screen and (max-width: $screen-sm-max) {
    float: none;
  }
}

.footer-social-link{
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
}

.footer-content {
  padding: 0 0 60px;
}

.footer-cta {
  margin-left: -15px;
}

.footer-logo {
  max-width: 170px;
  display: block;
  @media only screen and (max-width: $screen-sm-max) {
    margin: 0 auto;
  }
}
