/*---------- Footer ----------*/
footer {
  background: $almost-black;
  @media only screen and (max-width : 767px) {
    text-align: center;
  }
  ul {
    li {
      list-style-type: none;
      margin-bottom: 5px;
      a {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }
    }
  }
  .fa {
    transition: 0.5s;
    font-size: 18px;
    border-radius: 255px;
    height: 40px;
    width: 40px;
    padding: 20px 0;
    color: white;
    &:hover {
      color: $yellow;
    }
  }
}

.footer__title {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.footer__link {
  display: block;
  transition: 0.5s ease;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
}

.footer__branding {
  background: black url('../images/footer-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  font-family: 'Playfair Display';
  font-size: 50px;
  color: white;
  text-align: right;
  padding-right: 40px;
  a {
    bottom: 40%;
    cursor: pointer;
    position: absolute;
    right: -10px;
    transition: 0.5s ease-in-out;
    &:hover {
      color: white;
      right: 20px;
      text-decoration: none;
      .footer__arrow {
        opacity: 1;
      }
    }
  }
  img {
    display: block;
    margin: 60px auto;
  }
  .footer__arrow {
    opacity: 0;
    font-size: 30px;
  }
}

.footer__instagram {
  img {
      width: 100%;
      opacity: 1;
      transition: 0.3s;
      &:hover {
        opacity: .7;
      }
  }
}

.footer-logo {
  max-width: 170px;
  display: block;
  @media only screen and (max-width : 767px) {
    margin: 0 auto;
  }
}

.home-footer {
  margin-top: 100px;
}
