.contact__input {
  width: 100%;
  outline: none;
  margin: 15px 0 25px;
  border: 1px solid $grey;
  box-shadow: none;
  color: $charcoal;
  font-family: 'Titillium Web',sans-serif;
  height: 45px;
  &:focus {
    box-shadow: none;
    border: 1px solid $pink;
  }
}

.contact__input-message {
  resize: none;
  color: #5d5d5d;
  font-weight: 300;
  font-family: 'Titillium Web',sans-serif;
  height: 242px !important; //overwrites bootstrap
}
