.contact__input {
  width: 100%;
  outline: none;
  margin: 15px 0 35px;
  padding: 20px 0;
  border: none;
  border-bottom: 5px solid #ccc;
  box-shadow: none;
  bckground: none;
  color: #5d5d5d;
  font-weight: 300;
  font-family: 'Source Sans Pro',sans-serif;
  &:focus {
    box-shadow: none;
    border-bottom: 5px solid $almost-black;
  }
}

.contact__input-message {
  resize: none;
  color: #5d5d5d;
  font-weight: 300;
  font-family: 'Source Sans Pro',sans-serif;
  height: 242px !important; //overwrites bootstrap
}
