.header {
  height: 100vh;
  @media only screen and (max-width: $screen-xs-max) {
    height: auto;
  }
}

.header-content {
  @media only screen and (max-width: $screen-xs-max) {
    padding: 75px 0 150px;
  }
}

.header-services {
  position: absolute;
  margin-top: 71vh;
  margin-left: 84%;
}

.header-letter__w {
  position: absolute;
  margin-top: 13vh;
  margin-left: 7%;
}

.header-letter__e {
  position: absolute;
  margin-top: 60vh;
  margin-left: 11%;
}

.header-letter__l {
  position: absolute;
  margin-top: 65vh;
  margin-left: 30%;
}

.header-letter__c {
  position: absolute;
  margin-top: 10vh;
  margin-left: 35%;
}

.header-letter__o {
  position: absolute;
  margin-top: 20vh;
  margin-left: 46%;
}

.header-letter__m {
  position: absolute;
  margin-top: 67vh;
  margin-left: 62%;
}

.header-letter__e2 {
  position: absolute;
  margin-top: 19vh;
  margin-left: 89%;
}

.header-letter__services {
  max-width: 150px;
}

.home-hero {
  background: black url('../images/main-hero.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  @media only screen and (max-width: 766px) {
    background: black url('../images/hero.jpg') no-repeat center center;
    height: 100vh;
  }
  @media only screen and (max-width: 600px) {
    background: black url('../images/hero-mob.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.header-letter {
  max-height: 150px;
  max-width: 170px;
}

.error-hero {
  background: black url('../images/404-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  @media only screen and (max-width: 600px) {
    background: black url('../images/404-bg-mob.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
  }
}

.thankyou-hero {
  background: black url('../images/thankyou-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}



.header-greeting {
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: 45px;
  }
}

.header__logo {
  width: 175px;
  margin: 25px;
}

.header__quote {
  width: 200px;
  position: absolute;
  left: 70px;
  bottom: 50px;
  color: white;
  font-size: 12px;
}

.header__services {
  position: absolute;
  right: 175px;
  bottom: 85px;
  width: 175px;
  @media only screen and (max-width: 767px) {
    right: 75px;
  }
}

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix::before, .clearfix::after {display: table;  content: ''; }
.clearfix::after { clear: both; }


/* Content */
.section {
	overflow: hidden;
	position: relative;
	height: 100vh;
	min-height: 800px;
	max-height: 1200px;
}

.section--right {
	text-align: right;
}

.section--intro {
	background: linear-gradient(90deg, #3bcbc8, #7459c8);
}

.section--text {
  margin-right: 50px;
}

.section--portraits {
	background: linear-gradient(20deg, #F5F0F9, #A8CFF1);
}

.section--shots {
	background: linear-gradient(20deg, #D1D7EF, #5C61F5);
}

.section--cards {
	background: #FFB8CC;
}

.interval {
	position: relative;
	padding: 30vh 20vw;
	background: #1C222F;
	overflow: hidden;
}

.interval__text {
	font-size: 1.75em;
	line-height: 1.5;
	color: #777792;
}


.isolayer {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.js .grid,
.js .grid__item,
.js .grid__link {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.grid__item {
	width: 300px;
}

.js .grid__item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid__link {
	position: relative;
	z-index: 1;
	display: block;
}

.grid__img {
	display: block;
	max-width: 100%;
}

.grid__title {
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	z-index: -1;
	bottom: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.grid__item:hover .grid__title {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.layer {
	position: relative;
	display: block;
}

.layer:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

/* Shadow effect */
.isolayer--shadow .grid__link::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	opacity: 0.6;
	background: rgba(0,0,0,0.8);
	box-shadow: 0 0 0 0 rgba(0,0,0,0.8);
	-webkit-transform: translateZ(-1px) scale(0.95);
	transform: translateZ(-1px) scale(0.95);
	-webkit-transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
	transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.isolayer--shadow .grid__item:hover .grid__link::before {
	opacity: 0.2;
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.8);
	-webkit-transform: translateZ(-1px) scale(1);
	transform: translateZ(-1px) scale(1);
}

/* All individual isometric grid layouts (static and scrollable) */
.isolayer--scroll1 {
	width: 70vw;
	max-width: 1200px;
	height: calc(100vh - 280px);
}

.isolayer--scroll1 .grid__item {
	width: 300px;
	padding: 15px;
}

.isolayer--deco1 {
	width: 1200px;
	height: 900px;
}

.isolayer--deco1 .grid__link .layer:first-child:not(img) {
	background: #ac5cf5;
}

.isolayer--deco1 .grid__link .layer:nth-child(2):not(img) {
	background: #5db4eb;
}

.isolayer--deco1 .grid__link .layer:nth-child(3):not(img) {
	background: #5debb4;
}

.isolayer--deco1 .grid__link div.layer {
	width: 370px;
	height: 270px;
	opacity: 0.4;
}

.isolayer--deco1 .grid__item {
	width: 400px;
	height: 300px;
	padding: 15px;
}

.isolayer--deco1 .grid__item:nth-child(2) {
	margin-top: 150px;
}
