.header {
  height: 100vh;
  @media only screen and (max-width: $screen-xs-max) {
    height: auto;
  }
}

.header-content {
  @media only screen and (max-width: $screen-xs-max) {
    padding: 75px 0 150px;
  }
}

.header-services {
  position: absolute;
  margin-top: 71vh;
  margin-left: 84%;
}

.header-letter__services {
  max-width: 150px;
}

.home-hero {
  @include full-bg('../images/hero4.jpg');
  @media only screen and (max-width: $screen-sm-max) {
    background: black url('../images/hero.jpg') no-repeat center center;
    height: 100vh;
  }
  @media only screen and (max-width: 600px) {
    @include full-bg('../images/hero-mob.jpg');
  }
}

.header-letter {
  max-height: 150px;
  max-width: 170px;
}

.error-hero {
  @include full-bg('../images/404-bg.jpg');
  height: 100vh;
  @media only screen and (max-width: 600px) {
    @include full-bg('../images/404-bg-mob.jpg');
    height: 700px;
  }
}

.thankyou-hero {
  @include full-bg('../images/thankyou-bg.jpg');
  height: 100vh;
}

.header__logo {
  width: 175px;
  margin: 5px 25px;
}

.header__logo--gallery {
  position: relative;
  z-index: 5;
}

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix::before, .clearfix::after {display: table;  content: ''; }
.clearfix::after { clear: both; }
