body {
  background: white;
}

p {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

h1 {
  color: $charcoal;
  font-size: 76px;
  font-family: 'Vollkorn', serif;
  padding: 0;
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 48px;
  }
}

h2 {
  color: $charcoal;
  font-size: 36px;
  font-family: 'Vollkorn', serif;
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 32px;
  }
}

h3 {
  color: $charcoal;
  font-size: 30px;
  font-family: 'Vollkorn', serif;
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 24px;
  }
}

.p-lg {
  font-size: 45px;
  font-family: 'Vollkorn', serif;
  padding-bottom: 30px;
  @media only screen and (max-width: $screen-sm-max) {
    font-size: 24px;
  }
}

.p-sm {
  font-size: 14px;
}

.lead {
  font-family: 'Vollkorn', sans-serif;
  line-height: 1.5;
  font-size: 24px;
}

.work-title {
  color: $charcoal;
  font-size: 56px;
  font-family: 'Vollkorn', serif;
}

.test-class {
  background: red;
  color: pink;
  font-weight: bold;
}

.btn-primary {
  background: $brown;
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  letter-spacing: 0;
  text-transform: none;
}

.container-sm {
  padding: 0 150px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.pagination {
  color: $charcoal;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    color: $brown;
  }
}

.footer-cta__link {
  color: $brown;
  transition: .5s ease;
  &:hover {
    color: darken($brown, 15%);
  }
}
