$pink: #ad4e5b;
$yellow: #fefe47;
$orange: #cca547;
$almost-black: #181719;
$grey: #cccccc;
$light-grey: #e8e8e8;
$lightest-grey: #f8f8f8;
$text: #555555;
$background: #1d1c21;
$dark-text: #413f4a;


/*2020 Variables*/

$charcoal: #333333;
$pink: #FFE6E4;
$brown: #BF4427;
$grey: #D8D8D8;
$green: #043227;
