.error-text {
  margin-top: -75px;
}
.error-header {
  color: $orange;
  font-family: 'Playfair Display', serif;
  font-size: 75px;
}

.error-lead {
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
}
