/*---------- Gallery ----------*/

/* Styles the thumbnail */

.lightbox {
  margin: 10px 0;
  display: block;
}

.lightbox__title {
  position: absolute;
  width: 100%;
  bottom: 25px;
}

a.lightbox img {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin: 0px 2px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.99);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  z-index: 150;
  left: 0px;
  &:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    ::-webkit-scrollbar {
    display: none;
    }
    img {
      max-height: 80%;
      max-width: 60%;
    }
  }
  img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  body {
    overflow: hidden;
  }
}

/* Styles the close link, adds the slide down transition */

.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  right: 0;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  z-index: 105;
  &:before, &:after {
    content: "";
    display: block;
    height: 30px;
    width: 3px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
  }
  &:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.gallery-body {
  position: relative;
  margin-top: 75px;
  z-index: 150;
}

.gallery__img {
  width: 98%;
  display: block;
  margin: 5px auto;
}

.art-gallery__skills {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: -10px;
  font-family: 'Playfair Display', serif;
  color: $text;
  position: absolute;
  z-index: 2;
  bottom: -60px;
}

.gallery__title-shadow {
  font-family: 'Playfair Display', serif;
  line-height: 1;
  color: $lightest-grey;
  font-size: 200px;
  margin-bottom: 75px;
  position: absolute;
  z-index: 1;
  top: -85px;
  height: 205px;
  left: -100px;
  @media only screen and (max-width: $screen-xs-max) {
    font-size: 150px;
    left: -50px;
  }
}

.gallery__title {
  font-family: 'Playfair Display', serif;
  line-height: 1;
  color: $orange;
  font-size: 70px;
  margin-bottom: 75px;
  position: absolute;
  z-index: 1;
  top: -25px;
  height: 205px;
  left: 20px;
  @media only screen and (max-width: $screen-xs-max) {
    font-size: 50px;
  }
}

.gallery-content {
  position: relative;
  z-index: 2;
  margin-top: 75px;
}
