/*---------- Illustrations Styles ----------*/
.portfolio-header--illustrations {
  background: black url('../images/illustrations-hero.jpg') no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio-header__preview--illustrations {
  max-width: 650px;
  display: block;
  margin: 0 auto;
  @media only screen and (max-width: $screen-sm-max) {
    max-width: 450px;
  }
}

.illustrations__sketch {
  margin-left: -80px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .9);
  position: relative;
  z-index: 2;
  @media only screen and (max-width: $screen-sm-max) {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
}

.illustrations__photo {
  max-width: 90%;
  margin-left: 25px;
}

.illustrations__number {
  color: lighten(#181719, 1%);
  font-size: 500px;
  position: absolute;
  bottom: 45vh;
  line-height: 0;
  font-family: 'Playfair Display', serif;
  right: -150px;
  letter-spacing: -50px;
  z-index: 1;
  text-shadow: 0 0 40px rgba(0, 0, 0, .2);
  @media only screen and (max-width: $screen-sm-max) {
    display: none;
  }
  @media only screen and (max-width: $screen-xs-max) {
    display: block;
    right: -40px;
  }
}

.illustrations-page {
  background: $almost-black;
  margin-top: 100px;
}
