/*----- SoftwareReviews Styles -----*/
.portfolio-header--sr {
  background: black url('../images/sr-hero-color.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio-header__img--sr {
  margin-top: -100px;
}

.desktop-survey {
  background: black url('../images/sr-desktop.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    color: $almost-black;
    line-height: 1;
    font-size: 62px;
    margin-bottom: 25px;
  }
  p {
    line-height: 2;
  }
}

.sr-colours__title {
  color: $almost-black;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

.sr-colour {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  padding: 10px;
  display: inline-block;
  float: right;
  width: 20%;
}

.sr-colour-green-1 {
  background: #90bc38;
}

.sr-colour-green-2 {
  background: #a0b72d;
}

.sr-colour-yellow {
  background: #b4a222;
}

.sr-colour-orange {
  background: #e07124;
}

.sr-colour-red {
  background: #eb3b2a;
}

.sr-bottom-screens {
  padding: 50px 0;
  img {
    display: block;
    margin: 0 auto;
  }
}
